.footerImageInner {
  position: relative;
  overflow: hidden;
  height: 27rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 0;
}

.footerImageInner::after {
  content: "";
  background-color: #0b0b0b1f;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.footerMainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom center;
  display: block;
}

@media (max-width: 992px) {
  .footerImageInner {
    height: 180px;
    min-height: 120px;
    max-height: 220px;
  }
}

@media (max-width: 768px) {
  .footerImageInner {
    height: 120px;
  }

  .footerMainImage {
    object-position: center;
    object-fit: contain;
  }
}
